/* p{color: rgb(51,255,255);} */
/* p{color: 	#0000FF;}  */
p{color: 	hsl(0, 100%, 50%);} 
/* body{background-color:blueviolet} */
body {
    /* background-image: url("cat2.jpg"); background-repeat: no-repeat; background-attachment: fixed; background-size: 300px 500px; */
    background: #159c27 url("cat2.jpg") no-repeat right top fixed;
    background-size: 200px 300px;
    /* border-style: dotted; border-width: 5px; border-color: blue; border-radius: 50%; */
    /* border: 5px solid red; */
    border: 5px dashed blue;
    
}
p{
    border: 5px dashed blue;
    margin: 200px 100px 50px;
}